*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x:hidden ;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(177, 227, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .brand{
    font-size: 2rem;
    margin-left: 50px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.616);
    cursor: pointer;
}
.navbar span{
    font-size: 1.2rem;
    color: rgb(0, 140, 255);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    margin-right: 20px;

}
.navbar ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.navbar ul li a{
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(0, 140, 255);
    font-weight: bold;
    border-radius: 10px;

}
.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.navbar ul button{
    padding: 0px 15px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(0, 140, 255);
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}
.navbar ul button:hover{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(0, 140, 255);
}


/* template */

.template{
    background-color: rgb(246, 246, 246);
    width: 100vw;
    min-height: 400px;
}
.template .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.template .content img{
    height: 500px;
    width: 40%;
}
.left-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-side p{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.content .left-side h1{
    font-size: 7vmin;
    color: rgb(0, 140, 255);
    text-align: center;
}
.content span{
    color: rgb(0, 0, 0);
}

/* cards */

.cs{
    width: 100vw;
    background-color: rgb(224, 215, 215);
}
.cards{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    text-align: center;
}
.card{
    margin: 15px;
    width: 300px;
    height: 350px;
    position: relative;
    top: -55px;
    background: rgba( 27, 181, 231, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card:hover{
    transform: scale(1.1);
    background-color: rgb(97, 163, 181);
}
.card h1{
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.card p{
    margin: 10px;
    font-size: .8rem;
}
.card img{
    width: 280px;
    height: 200px;
    margin-top: 10px;
    border-radius: 8px;   
}
.card button{
    padding: 10px;
    border-radius: 8px;
    outline: none;
    background-color: rgb(14, 130, 176);
    border: 1px solid rgb(31, 30, 30);
    font-weight: bold;
}
.card button:hover{
    background-color: #fff;
}

/* aside para */
.aside-para{
    width: 100%;
    min-height: 100px;
    background-color: #fff;
}
.title{
    width: 100%;
    margin: 50px 0 40px;
    font-size: 3rem;
    text-align: center;
}
.title a{
    color: rgb(0, 0, 0);
}
.title span{
    color: rgb(0, 170, 255);
    font-size: 5rem;
}
.aside-para .aside1{
    background-color: red;
    display: flex;
    flex-direction: row;
}
.aside-para img{
    margin: 10px;
    width: 97vmin;
    max-height: 500px;
    border-radius: 10px;
}
.aside-para p{
    font-size: 1rem;
    color: rgb(163, 161, 161);
    font-weight: bold;
    text-align: justify;
    text-indent: 200px;
    line-height: 25px;
    word-spacing: 5px;
}

/* banner with overlay text */

.banner-overview{
    width: 100%;
    height: 700px;
}
.banner{
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.608),rgba(0, 0, 0, 0.634)), url(/image/business\ meet.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: verdana;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
}
.banner h5{
    font-size: 3rem;
    color: white;
}
.banner button{
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    background-color: rgb(0, 102, 255);
    font-size: 1rem;
    border: 1px solid transparent;
}
.banner button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid rgb(0, 102, 255);
}

/* details */

.details{
    width: 100vw;
    height: 430px;
    background-image: url(/image/digital\ marketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-detail {
    width: 100%;
    height: 100% ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 195, 255, 0.562);
    border-radius: 10px;
    
}
.contact-detail form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
}
.contact-detail h1{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-top: 30px;
    text-shadow: 1px 1px 5px black;
}
.contact-detail input{
    width: 600px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
form button{
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: rgb(0, 102, 255);
    font-size: 1rem;
    border: 2px solid transparent;
}
form button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgb(0, 102, 255);
}
.footer{
    width: 100%;
    height: 50px;
    text-align: center;
    color: black;
    background-color: rgb(181, 181, 181);
    line-height: 50px;
    font-weight: bold;
}


@media (max-width:600px){
    .navbar ul{
        display: none;
    }
    .navbar .brand{
        text-align: center;
        width: 100%;
    }
}

@media (max-width:770px){
    .aside-para .aside1{
        display: flex;
        flex-wrap: wrap;
    }
    .template .content{
        display: flex;
        flex-wrap: wrap;
    }
    .template .content img{
        width: 100vw;

    }
}